@keyframes popOut {
  0% {
      transform: scale(0);
      opacity: 0;
  }
  100% {
      transform: scale(100%);
      opacity: 1;
  }
}
.sendContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  animation: popOut 0.5s ease-out forwards;
}

.h1{
  color: #FFFFFF;
}

.sendForm {
  margin-top: 20px;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  /* Adjust the width as necessary */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #ecf0f1;
  border: solid black 3px;
}


.label {
  align-self: flex-start;
  font-weight: 600;
  margin-bottom: 5px;
}

.input:hover,
.textarea:hover {
  transform: scale(1.03);
  border: 2px solid #000000;
  outline: none;
}

.input,
.textarea {
  width: 100%;
  /* Full width of the form */
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  /* Space between the inputs */
  transition: transform 0.3s ease;
  background-color: #f2f2f2; 
}

.textarea {
  height: 150px;
  /* Adjust the height as necessary */
  resize: vertical;
  /* Allows the user to resize the textarea vertically */
}

.button {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #4db8ac; 
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: transform 0.5s ease;
}

.button:hover {
  background-color: #39897a; 
  transform: scale(1.05);
  border:solid black 3px;
}



/* Existing styles */

/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
  .sendContainer {
    padding: 15px; /* Slightly reduce padding for smaller screens */
  }

  .sendForm {
    max-width: 90%; /* Allow the form to expand to full width */
    padding: 20px; /* Slightly reduce padding */
    margin-top: 15px; /* Adjust top margin */
  }

  .input, .textarea {
    margin-bottom: 15px; /* Adjust spacing between inputs */
    width: 95%;
  }

  .button {
    padding: 8px 15px; /* Adjust button size for easier tapping */
  }
}

@media (max-width: 480px) {
  .sendForm {
    padding: 15px; /* Further reduce padding for very small screens */
  }

  .input, .textarea {
    padding: 8px; /* Smaller padding for a more compact look */
    font-size: 14px; /* Slightly smaller font size for better fit on screen */
    border-radius: 2px; /* Reduce the border-radius for a more streamlined look */
    border: 1px solid #bbb; /* Lighter border for a softer appearance */
    width: 95%;
}


  /* Any other specific adjustments for very small screens can be added here */
}