.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #003973, #e5e5be);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 165px;
    border-radius: 50px;
    padding: 0 20px; 
    margin: 20px;
}

.menuContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.menuButton {
    transition: all 0.3s ease;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 32px;
    color: #E0EFFF;
}

.menuButton::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f4d03f;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.menuButton:hover, .menuButton:focus {
    transform: scale(1.05);
    color: #f4d03f; 
    background-color: rgba(255, 255, 255, 0.1); 
    outline: none;
}

.menuButton:hover::after, .menuButton:focus::after {
    width: 100%; 
}

.menuButton:active {
    font-weight: bold;
}


.pfp {
    margin: 10px;
    width: 140px; 
    height: 140px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Add box-shadow to the transition */
    box-shadow: 0 0 0 0px #f4d03f; /* Initial state with no visible shadow */
}

.pfp:hover {
    transform: scale(1.1);
    box-shadow: 0 0 0 2px #f4d03f; /* Shadow acts as a border on hover */
}


/* Responsive adjustments for mobile devices */
@media (max-width: 768px) {
    .navbarContainer {
        height: 120px; /* Reduce height for medium screens */
        border-radius: 30px; /* Adjust border-radius */
        padding: 0 15px; /* Adjust padding */
        margin: 10px; /* Adjust margin */
    }

    .menuButton {
        font-size: 24px; /* Reduce font size for better fit */
    }

    .pfp {
        width: 100px; /* Adjust profile picture size */
        height: 100px;
    }
}
@media (max-width: 480px) {
    .navbarContainer {
        flex-direction: column; /* Stack items vertically for small screens */
        height: auto; /* Adjust height to fit content */
        padding: 10px 5px; /* Further reduce padding */
    }

    .menuContainer {
        flex-direction: column; /* Change to stack menu items vertically */
        align-items: center; /* Center align the buttons */
        margin-top: 10px; /* Add some space between navbar and menu items */
        flex-wrap: wrap;
    }

    .menuButton {
        font-size: 18px; /* Reduce the font size a bit more */
        font-weight: 700; /* Try reducing font weight */
        padding: 5px; /* Adjust padding */
        margin: 5px; /* Ensure there's space around buttons */
    }

    .pfp {
        width: 80px; /* Further adjust profile picture size */
        height: 80px;
        margin-bottom: 10px; /* Add space below the profile picture */
    }
}